.signup {
    display: flex;
    flex-direction: column;
    width: 380px;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    color: wheat;
}

button {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}