.container {
    width: 80vw;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    color: white;
}

.card img {
    width: 200px;
    height: 200px;
    padding-right: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    color: wheat;
    border-radius: 5px;
    text-decoration: none;
}

.content {
    display: grid;
}

.name {
    padding-top: 10px;
    text-align: left;
    font-size: 1.5rem;
}

.location {
    padding-top: 10px;
}

