.searchBar {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.searchBar__button {

}

.searchBar__input {
    margin-right: 30px;
}

.searchBar__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    align-items: center;
}

.suggestions__wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    background-color: darkgray;
}

.suggestions__wrapper:empty {
    border: none;
}
