.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.logo {
    margin-left: 30px;
    width: 200px;
    height: 80px;
    background-image: url('/src/assets/logo.webp');
    background-size: 100%;
}

.linkWrapper {
    justify-self: flex-end;
}
